*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box{
    border: 1px solid black;
    aspect-ratio: 1;
}

.grade{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.backgroundBox{
    background-color: black;
    border: 1px solid white;
}

button{
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#quantidade{
    background-color: rgb(0, 174, 255);
    
}

#clear{
    background-color: red;
    color: white;
}

#colorido{
    background-color: violet;
}